.destination-image img {
    border-bottom-left-radius: 70px;
    width: 600px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.026);
}

.review-section {
    padding: 40px 20px;
    background-color: #ffffff;
}

.review-section h2 {
    font-size: 2em;
    color: #2d4f6b;
    margin-bottom: 20px;
    text-align: center;
}

.review-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.review-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.review-content {
    flex-grow: 1;
}

.review-content h3 {
    font-size: 1.2em;
    color: #2d4f6b;
    margin: 0;
    margin-bottom: 10px;
}

.review-content p {
    font-size: 1em;
    color: #555;
    margin: 0;
    margin-bottom: 10px;
}

.review-actions {
    display: flex;
    gap: 10px;
}

.review-actions .like-btn,
.review-actions .reply-btn {
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-actions .like-btn i,
.review-actions .reply-btn i {
    margin-right: 5px;
}

.review-actions .like-btn:hover,
.review-actions .reply-btn:hover {
    background-color: #1b364d;
}