body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff6f;
    color: #000000;
}

.signup-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.signup-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/BackGround image.png') center/cover no-repeat;
    opacity: 40%;
    z-index: -2;
}

.signup-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #006d7741;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    position: relative;
    z-index: 1;
}

.left-side {
    /* flex:6; */
    padding-right: 20px;
    margin-right: 50px;
    
}

.right-side {
    flex: 1;
    max-width: 400px;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 20px;
    border-radius: 10px;
    color: #333;
}

.quote {
    font-size: 1.2em;
    margin-bottom: 130px;
        width: 500px;

}
.quote footer {
    /* margin-bottom: 90px; */
    justify-content: right;
    position: relative;
    left: 330px;
    bottom: 20px;

}

.highlight {
    color: #204290;
    
}
.logo{
    width: 100%;
    height: auto;
}
.logo img {
    width: 100%;
    max-width: 500px;
    height: 200px;

}

.signup-form {
    display: flex;
    flex-direction: column;
    width: auto;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #781919;
}
.form-group label i {
    margin-right: 10px;
    color: #78191986;
}
.form-group input {
    width: 300px;
    padding: 10px 10px 10px 40px;
    border: 2px solid #E0E2E9;
    border-radius: 5px;
    font-size: 1em;
    color: #88304E;
}

.btn {
    background-color: #88304E;
    color: #fff;
    padding: 10px;
        width: 360px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.btn:hover {
    background-color: #6F2343;
}

.right-side p {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

.right-side a {
    color: #204290;
    text-decoration: none;
}

.right-side a:hover {
    text-decoration: underline;
}