body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar-nav {
    margin-right: 70px;
}

.row input {
    border-color: #006D77;
    color: #006D77;
}

.img-fluid {
    border-radius: 10px 10px 10px 100px;
    margin-bottom: 100px;
}

.row p {
    font-style: italic;
    font-weight: 700
}

.nav-link {
    font-size: 18px;
    text-transform: capitalize;
    color: #006D77;
}